<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dojos</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Dojos</h1>
        <p>Hello!</p>
        <form action="/process" method="post">
            Email: <input type="text" name="email">
            First Name: <input type="text" name="first_name">
            Last Name: <input type="text" name="last_name">
            Password: <input type="text" name="password">
            Confirm Password: <input type="text" name="confirm_password">
            <input type="submit" value="submit">
        </form>
    </body>
</html>